ADMIN/src/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.czmdp.mdp.etfbl.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.czmdp.mdp.etfbl.net" xmlns:intf="http://soap.czmdp.mdp.etfbl.net" xmlns:tns1="http://model.mdp.etfbl.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.czmdp.mdp.etfbl.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.mdp.etfbl.net"/>
   <element name="getPort">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPortResponse">
    <complexType>
     <sequence>
      <element name="getPortReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="verify">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="verifyResponse">
    <complexType>
     <sequence>
      <element name="verifyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActiveUser">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActiveUserResponse">
    <complexType>
     <sequence>
      <element name="getActiveUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOnlineUsers">
    <complexType/>
   </element>
   <element name="getOnlineUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOnlineUsersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLogin">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLoginResponse">
    <complexType/>
   </element>
   <element name="assignPort">
    <complexType/>
   </element>
   <element name="assignPortResponse">
    <complexType>
     <sequence>
      <element name="assignPortReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType/>
   </element>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType>
     <sequence>
      <element name="deleteUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLogout">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLogoutResponse">
    <complexType/>
   </element>
   <element name="getAllUsers">
    <complexType/>
   </element>
   <element name="getAllUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllUsersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.mdp.etfbl.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="port" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPortResponse">

      <wsdl:part element="impl:getPortResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersRequest">

      <wsdl:part element="impl:getAllUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLoginRequest">

      <wsdl:part element="impl:registerLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignPortResponse">

      <wsdl:part element="impl:assignPortResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOnlineUsersRequest">

      <wsdl:part element="impl:getOnlineUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignPortRequest">

      <wsdl:part element="impl:assignPort" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOnlineUsersResponse">

      <wsdl:part element="impl:getOnlineUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersResponse">

      <wsdl:part element="impl:getAllUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLogoutRequest">

      <wsdl:part element="impl:registerLogout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifyResponse">

      <wsdl:part element="impl:verifyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLoginResponse">

      <wsdl:part element="impl:registerLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLogoutResponse">

      <wsdl:part element="impl:registerLogoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifyRequest">

      <wsdl:part element="impl:verify" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActiveUserRequest">

      <wsdl:part element="impl:getActiveUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActiveUserResponse">

      <wsdl:part element="impl:getActiveUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPortRequest">

      <wsdl:part element="impl:getPort" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="getPort">

         <wsdl:input message="impl:getPortRequest" name="getPortRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPortResponse" name="getPortResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verify">

         <wsdl:input message="impl:verifyRequest" name="verifyRequest">

       </wsdl:input>

         <wsdl:output message="impl:verifyResponse" name="verifyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActiveUser">

         <wsdl:input message="impl:getActiveUserRequest" name="getActiveUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getActiveUserResponse" name="getActiveUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOnlineUsers">

         <wsdl:input message="impl:getOnlineUsersRequest" name="getOnlineUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOnlineUsersResponse" name="getOnlineUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogin">

         <wsdl:input message="impl:registerLoginRequest" name="registerLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerLoginResponse" name="registerLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignPort">

         <wsdl:input message="impl:assignPortRequest" name="assignPortRequest">

       </wsdl:input>

         <wsdl:output message="impl:assignPortResponse" name="assignPortResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogout">

         <wsdl:input message="impl:registerLogoutRequest" name="registerLogoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerLogoutResponse" name="registerLogoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdl:input message="impl:getAllUsersRequest" name="getAllUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllUsersResponse" name="getAllUsersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPort">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPortRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPortResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verifyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verifyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActiveUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActiveUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActiveUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOnlineUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOnlineUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOnlineUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignPort">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignPortRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="assignPortResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerLogoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerLogoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080/CZMDP/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
