ZSMDP/src/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.czmdp.mdp.etfbl.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.czmdp.mdp.etfbl.net" xmlns:intf="http://soap.czmdp.mdp.etfbl.net" xmlns:tns1="http://model.mdp.etfbl.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.czmdp.mdp.etfbl.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.mdp.etfbl.net"/>
   <element name="verify">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="verifyResponse">
    <complexType>
     <sequence>
      <element name="verifyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLogin">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLoginResponse">
    <complexType/>
   </element>
   <element name="registerLogout">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerLogoutResponse">
    <complexType/>
   </element>
   <element name="getActiveUser">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActiveUserResponse">
    <complexType>
     <sequence>
      <element name="getActiveUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOnlineUsers">
    <complexType/>
   </element>
   <element name="getOnlineUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOnlineUsersReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.mdp.etfbl.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOnlineUsersResponse">

      <wsdl:part element="impl:getOnlineUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLogoutRequest">

      <wsdl:part element="impl:registerLogout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifyResponse">

      <wsdl:part element="impl:verifyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLoginRequest">

      <wsdl:part element="impl:registerLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLoginResponse">

      <wsdl:part element="impl:registerLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerLogoutResponse">

      <wsdl:part element="impl:registerLogoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifyRequest">

      <wsdl:part element="impl:verify" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOnlineUsersRequest">

      <wsdl:part element="impl:getOnlineUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActiveUserRequest">

      <wsdl:part element="impl:getActiveUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActiveUserResponse">

      <wsdl:part element="impl:getActiveUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="verify">

         <wsdl:input message="impl:verifyRequest" name="verifyRequest">

       </wsdl:input>

         <wsdl:output message="impl:verifyResponse" name="verifyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogin">

         <wsdl:input message="impl:registerLoginRequest" name="registerLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerLoginResponse" name="registerLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogout">

         <wsdl:input message="impl:registerLogoutRequest" name="registerLogoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerLogoutResponse" name="registerLogoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActiveUser">

         <wsdl:input message="impl:getActiveUserRequest" name="getActiveUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getActiveUserResponse" name="getActiveUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOnlineUsers">

         <wsdl:input message="impl:getOnlineUsersRequest" name="getOnlineUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOnlineUsersResponse" name="getOnlineUsersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="verify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verifyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verifyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerLogout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerLogoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerLogoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActiveUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActiveUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActiveUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOnlineUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOnlineUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOnlineUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080/CZMDP/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
